body {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 0;
}

.container {
	max-width: 960px;
	margin: 0 auto;
	padding: 0 51.072px;
}

.header {
	display: inline-block;
	width: 100%;
	margin: 60.828px 0 44.151px 0;
}

.logo {
	display: inline-flex;
	float: left;
}

.logo .icon {
	float: left;
	width: 21.89px;
	height: 21.89px;
	margin: auto 0;
	background-color: black;
}

.logo h1 {
	float: left;
}

.logo h1:nth-child(2) {
	font-weight: 300;
}

.nav {
	float: right;
	line-height: 32px;
}

.octicon {
	font-size: 21.89px;
}

li {
	float: left;
	margin-left: 51.5px;
}

.nav ul li:first-child {
	margin-left: 0;
}

.content {
	display: inline-block;
	width: 100%;
}

.one-half {
	float: left;
	width: 454.252px;
	margin: 0 51.072px 46.669px 0;
}

.one-half h1 {
	margin: 25px 0 12px 0;
}

.one-half:last-child {
	margin: 0 0 46.669px 0;
}

img {
	width: 100%;
}

h1 {
	font-size: 31.5px;
}

li, p {
	font-size: 19.26px;
}

p {
	font-weight: 300;
}

/** {
	padding: 0px;
	margin: 0px;
	font-weight: normal;
}

body {
	color: white;
}

.container {
	max-width: 960px;
	margin: 0 auto;
}

.nav {
	position: relative;
	list-style: none;
}

.nav ul {
	position: absolute;
	right: 0;
	padding: 5.2485% 18.4539% 0 0;
}

.nav li {
	display: inline;
	font-family: "Jockey One";
	font-size: 1.221em;
	opacity: 0.6;
	padding: 0px 3px 0px 0px;
}

.nav li:first-child {
	display: block;
	font-family: "Jockey One";
	font-size: 2.929em;
	opacity: 1.0;
}

.canvas {
	float: left;
	margin: 0 4.5454% 5.2485% 4.5454%;
}

.work {
	float: left;
	width: 43.1818%;
	margin: 0 4.5454% 5.2485% 4.5454%;
	background-color: orange;
}

.row .work:last-child {
	margin: 0 4.5454% 5.2485% 0;
}*/