body {
	font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif;
	background: #F4F4F4;
  color: #888;
  font-size: 13px;
}
#nav {
  top: 30px;
  left: 30px;
  position: fixed;
}
.subnav {
  font-size: 13px;
  position: relative;
  padding: 3px 5px;
  display: block;
  color: #888;
  border: 1px solid #888;
  width: 140px;
	margin-bottom: -1px;
  margin-top:0;
  font-weight: bold;
}
.subnav:hover, .subnav:active, .subnav:focus {
    color: white;
    background-color: #888;
    -o-transition:  0.1s linear;
    -moz-transition: 0.1s linear;
    -khtml-transition:  0.1s linear;
    -webkit-transition:  0.1s linear;
    -ms-transition:  0.1s linear;
    transition: 0.1s linear;
}
a {
  text-decoration: none;
  color: #888;
}
a:hover, a:focus {
    color: #777;
}
#content a {
  text-decoration: underline;
}
#content {
  position: absolute;
  top: 30px;
  left: 212px;
  line-height: 1.4;
}
.project {
  width: 380px;
  height: 267px;
  margin-bottom: 19px;
}
.info {
  float: left;
  width: 342px;
  height: 229px;
  padding: 19px;
  background-color: white;
}
.title {
  width: 152px;
  margin-bottom: 19px;
  font-size: 16px;
  font-weight: bold;
}
.properties {
  margin-right: 19px;
}
.properties, .description {
  width: 152px;
  float: left;
}
.description {
  margin-right: 19px;
}
.images {
  position: absolute;
  left: 380px;
}
img {
  vertical-align: middle;
  max-width: 380px;
  max-height: 267px;
}
