* {
	padding: 0px;
	margin: 0px;
}

.container {
	max-width: 960px;
	margin: 0 auto;
}

.canvas {
	float: left;
	margin: 0 4.5454% 5.2485% 4.5454%;
}

.work {
	float: left;
	width: 43.1818%;
	margin: 0 4.5454% 5.2485% 4.5454%;
	background-color: orange;
}

.row .work:last-child {
	margin: 0 4.5454% 5.2485% 0;
}