* {
	padding: 0px;
	margin: 0px;
}

body {
	color: white;
}

.container {
	max-width: 960px;
	margin: 0 auto;
}

.nav {
	position: relative;
	list-style: none;
}

.nav ul {
	position: absolute;
	right: 0;
	padding: 5.2485% 18.4539% 0 0;
}

.nav li {
	display: inline;
	font-family: "Jockey One";
	font-size: 1.221em;
	opacity: 0.6;
}

.nav li:first-child {
	display: block;
	font-family: "Jockey One";
	font-size: 2.929em;
	opacity: 1.0;
}

.canvas {
	float: left;
	margin: 0 4.5454% 5.2485% 4.5454%;
}

.work {
	float: left;
	width: 43.1818%;
	margin: 0 4.5454% 5.2485% 4.5454%;
	background-color: orange;
}

.row .work:last-child {
	margin: 0 4.5454% 5.2485% 0;
}