html {
	-webkit-font-smoothing: antialiased;
}

body {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 0;
}

.container {
	margin: 0 auto;
	padding: 0 51.07px;
}

.header {
	margin-top: 57.125px;
	text-align: center;
}

.logo {
	display: inline-flex;
	margin-bottom: 23.75px;
}

a {
	color: black;
	text-decoration: none;
}

.icon {
	display: inline-block;
	margin-right: 1.896px;
}

h1 {
	font-size: 30.5px;
	line-height: 31.53px;
}

.logo h1 {
	display: inline-block;
}

.logo h1:nth-child(2) {
	font-weight: 300;
}

li, p {
	font-size: 19.25px;
	font-weight: 300;
	line-height: 31.53px;
}

.underline-link:hover {
	text-decoration: underline;
}

.octicon {
	display: none;
}

.col {
	margin: 42.054px 0;
}

img {
	width: 100%;
	margin-bottom: 25px;
}

p a {
	text-decoration: underline;
}

p a:hover {
	text-decoration: none;
}

@media (min-width: 768px) {

	.container {
		max-width: 665.86px;
	}

	.header {
		text-align: right;
	}

	.logo {
		float: left;
		margin-bottom: 0;
	}

	.nav {
		vertical-align: top;
	}

	li {
		display: inline-block;
		margin-left: 51.07px;
	}

	.mobile-only {
		display: none;
	}

	.octicon {
		display: inline;
		font-size: 21.89px;
	}

	.col {
		float: left;
		width: 307.084px;
		margin: 47.181px 51.277px 0 0;
	}

	.col:last-child {
		margin-right: 0;
	}

}

@media (min-width: 980px) {

	.container {
		max-width: 877.445px
	}

	.col {
		width: 413.084px;
	}

}

@media (min-width: 1200px) {

	.container {
		max-width: 960px;
	}

	.col {
		width: 454.252px;
	}

}